body {
  margin: 0;
  font-family: "Lucida Console", Monaco, monospace;
  background: #8f94ef;
}

#book-header {
  display: flex;
  justify-content: center;
  background: #8f94ef;
  opacity: 0.8;
  height: 7rem;
  padding: 1rem;
}

#book-header img {
  height: 8.5rem;
  width: auto;
}

#book-collection {
  margin: 2rem;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #58367c;
}

.book-image {
  justify-self: center;
  height: 14rem;
  width: auto;
  margin-top: 1rem;
}

.delete-btn {
  position: absolute;
  margin-top: 27em;
  margin-left: 15.5em;
  background-color: #58367c;
  border: none;
  border-radius: 5px;
  height: 1.75rem;
  width: 1.75rem;
  color: whitesmoke;
  font-size: 14px;
  justify-self: center;
}

.delete-btn:hover {
  background-color: whitesmoke;
  border: #58367c solid 2px;
  color: #58367c;
}

.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  display: none;
  background: #8f94ef;
  opacity: 0.8;
  display: block;
}

.add-book-form {
  width: 80%;
  align: right;
}

.submit {
  position: relative;
  background-color: #58367c;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  font-family: "Lucida Console", Monaco, monospace;
  margin: 3px;
}

.submit:hover {
  background-color: whitesmoke;
  border: #58367c solid 2px;
  color: #58367c;
}

.input-text {
  border-radius: 5px;
  border: #58367c solid 2px;
  height: 2rem;
  width: 100%;
  font-size: 18px;
  font-family: "Lucida Console", Monaco, monospace;
  margin: 3px;
}

p {
  margin-top: 2em;
  margin-bottom: 0em;
}

h3 {
  color: #2d2c2d;
  margin-bottom: 0rem;
}

h2 {
  margin: auto;
}

.edit-container {
  position: relative;
  padding: 1rem;
  width: stretch;
  height: 85%;
  display: none;
  background: #8f94ef;
  opacity: 0.8;
  display: block;
}

.edit-book-form {
  width: auto;
  align: center;
  position: relative;
  padding: 1rem;
  width: stretch;
  height: 85%;
  display: none;
  background: #8f94ef;
  opacity: 0.8;
  display: block;
}

.edit-btn {
  position: absolute;
  margin-top: 27em;
  background-color: #58367c;
  border: none;
  border-radius: 5px;
  height: 1.75rem;
  width: auto;
  color: whitesmoke;
  font-size: 14px;
  justify-self: center;
}

.edit-btn:hover {
  background-color: whitesmoke;
  border: #58367c solid 2px;
  color: #58367c;
}

.editSubmit {
  position: relative;
  background-color: #58367c;
  border-radius: 5px;
  height: auto;
  width: auto;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  font-family: "Lucida Console", Monaco, monospace;
  margin: 3px;
}

#sort-dropdown {
  position: relative;
  background-color: #58367c;
  border-radius: 5px;
  height: 2.2rem;
  width: auto;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  font-family: "Lucida Console", Monaco, monospace;
  margin: 3px;
}
